/* Hero */
.hero-container {
    text-align: center;
    padding-top: 112px;
    padding-bottom: auto;
    @extend %container;

    @media screen and (min-width: 1200px) {
        padding-top: 188px;
    }
}


.overlay {
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.7),
            rgba(47, 48, 58, 0.7)),
        url('../images/hero-mobile.jpg');
    height: 432px;
    background-size: cover;
    background-color: rgba(46, 47, 66, 0.7);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(rgba(47, 48, 58, 0.7),
                    rgba(47, 48, 58, 0.7)),
                url('../images/hero-mobile@2x.jpg');
        }
    }
}

@media screen and (min-width:768px) {
    .overlay {
        background-image: linear-gradient(rgba(47, 48, 58, 0.7),
                rgba(47, 48, 58, 0.7)),
            url('../images/hero-tablet.jpg');
        height: 436px;
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(rgba(47, 48, 58, 0.7),
                    rgba(47, 48, 58, 0.7)),
                url('../images/hero-tablet@2x.jpg');
        }
    }
}

@media screen and (min-width:1200px) {
    .overlay {
        background-image: linear-gradient(rgba(47, 48, 58, 0.7),
                rgba(47, 48, 58, 0.7)),
            url('../images/hero-desktop.jpg');
        height: 600px;
        width: 1440px;
        margin-left: auto;
        margin-right:auto ;
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(rgba(47, 48, 58, 0.7),
                    rgba(47, 48, 58, 0.7)),
                url('../images/hero-desktop@2x.jpg');
        }
    }
}

.hero__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    color: $color-white;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    width: 320px;

    @media screen and (max-width:480px) {
        max-width: 100%;
    }

    @media screen and (min-width:768px) {
        font-size: 56px;
        line-height: 1.07;
        width: 496px;
    }
}

.hero__button {
    font-family: inherit;
    color: $color-white;
    background-color: $color-iris;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;

    padding: 16px 32px;
    min-width: 169px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $color-ocean;
    }

    &:active {
        background-color: $color-ocean;
    }
}