#scrollToTop {
  position: fixed;
  bottom: 36px;
  left: 75%;
  display: none;
  cursor: pointer;
  z-index: 15;
  opacity: 0.6;

  @media (min-width: 1350px) {
    left: 78%;
  }

  @media (min-width: 1440px) {
    left: 81%;
  }
}

.scroll-up {
    fill: $color-iris;
}