// Burger Styles
.menu-social__list,
.social-networks {
    display: flex;
    justify-content: space-between;
    @extend %list;
}

// .social-networks{
//     display: flex;
//     justify-content: space-between;
//     @extend %list;
// }

.social-networks__link {
    display: flex;
    position: relative;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: $color-iris;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $color-ocean;
    }
}

.social-networks__icon {
    fill: $color-white;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
}

.social-networks__icon-menu {
    width: 24px;
    height: 24px;
}


// Footer Styles
.social-networks__foot {
    display: flex;
    @extend %list;
}

.social-networks__icon-foot {
    width: 24px;
    height: 24px;
}

.social-networks__item-foot:not(:last-child) {
    margin-right: 16px;
}

.social-networks__link-foot {
    background-color: rgba(255, 255, 255, .1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $color-green;
    }
}