// // Backdrop-checkbox
.form-checkbox {
    margin-top: 16px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-checkbox__lable {
    padding-left: 20px;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: $color-dark-grey;
}
.form-checkbox__privacy{
    color: $color-iris;
}
.form-checkbox__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-checkbox__icon {
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1.25px solid #2E2F42;
    fill: #FFFFFF;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form-checkbox__input:checked+& {
        background-color: $color-ocean;
        border-radius: 2px;
        border-color: $color-ocean;
    }
}